<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<hr />
<h2>TODOS</h2>
<ul>
   <li>Add list of next weeks games</li>
   <li>Thur/Mon Night Games List</li>
   <li>Fix distance for when specific week is selected</li>
</ul>

<h2>NOTES</h2>
<ul>
   <li>Games will not be selectable if already visiting stadium</li>
   <li>Teams are grayed out when already seen</li>
   <li>Distances are calculated as a straight line, not via roads.</li>
   <li>I would like to add sorting options, e.g., games by distance, but it's proving too time consuming for now.</li>
</ul>

</body>
</html>
